.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-columns: 50px 180px 1fr 2fr;
  grid-template-rows:60px 1fr 100px 1fr 30px ;
}
 grid-item1 {
   grid-column-start: 1;
   grid-row-start: 1;
   padding: 5px 0 5px 20px;
   background-color: #21f32c;
 }
    .grid-item2 {
      grid-column-start: 2;
      grid-row:1;
      background-color: aqua;
    }
    .grid-item3 {
      grid-column: 3 /span4;
      grid-row: 1;
      background-color: burlywood;
    }
    
    
    .p{
      text-align: right;
      padding-left:initial ;
position: relative;
    }



    input{
      background:mediumblue;
      font-size:x-large;
      color: mistyrose;
  
font-family:cursive;
font-weight: bold;
      

    }
  

  

  
  grid-gap: px;
  background-color: #21f32c;
  padding: px;
  text-decoration: none;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.bouton{
      background-color: blueviolet;
width: 450px;
height: 55px;
margin: 50px 350px 50px 50px;
}
.bouton a {
  text-decoration:none ;
  color: beige;
   
}

a:link, a:visited { 

  text-align: center;

  
  text-ali
}


